In [29]:
import pandas as pd

In [30]:
df1=pd.read_csv("C:\\Users\\giuli\\reported.csv")
df1

,Year,crimes.total,crimes.penal.code,crimes.person,murder,assault,sexual.offenses,rape,stealing.general,burglary,...,vehicle.theft,out.of.vehicle.theft,shop.theft,robbery,fraud,criminal.damage,other.penal.crimes,narcotics,drunk.driving,population
0,1950,2784,2306,120,1,105,40,5,1578,295,...,NaN,NaN,NaN,3,209,72,477,0.0,49,7014000
1,1951,3284,2754,125,1,109,45,6,1899,342,...,NaN,NaN,NaN,3,310,73,530,0.0,66,7073000
2,1952,3160,2608,119,1,104,39,4,1846,372,...,NaN,NaN,NaN,3,217,82,553,0.0,78,7125000
3,1953,2909,2689,119,1,105,45,5,1929,361,...,NaN,NaN,NaN,4,209,88,220,0.0,91,7171000
4,1954,3028,2791,126,1,107,41,5,1981,393,...,NaN,NaN,NaN,4,236,101,237,0.0,103,7213000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,2011,14988,12267,1005,2,947,181,69,5783,995,...,213.0,706.0,663.0,103,1220,1774,2721,946.0,314,9449000
62,2012,14734,12148,974,2,914,178,66,5613,922,...,169.0,655.0,635.0,97,1356,1600,2586,994.0,286,9519000
63,2013,14603,12072,896,3,837,184,63,5552,888,...,159.0,543.0,509.0,87,1545,1470,2532,1002.0,279,9644000
64,2014,14890,12305,923,3,859,210,69,5572,913,...,147.0,542.0,505.0,86,1610,1559,2585,983.0,271,9747000
65,2015,15342,12803,932,3,868,184,60,5404,917,...,135.0,552.0,515.0,86,1896,1989,2539,960.0,267,9851000

esplorazione datframe

In [31]:
df1.info

<bound method DataFrame.info of     Year  crimes.total  crimes.penal.code  crimes.person  murder  assault  \
0   1950          2784               2306            120       1      105
1   1951          3284               2754            125       1      109
2   1952          3160               2608            119       1      104
3   1953          2909               2689            119       1      105
4   1954          3028               2791            126       1      107
..   ...           ...                ...            ...     ...      ...
61  2011         14988              12267           1005       2      947
62  2012         14734              12148            974       2      914
63  2013         14603              12072            896       3      837
64  2014         14890              12305            923       3      859
65  2015         15342              12803            932       3      868

    sexual.offenses  rape  stealing.general  burglary  ...  vehicle.theft  \
0                40     5              1578       295  ...            NaN
1                45     6              1899       342  ...            NaN
2                39     4              1846       372  ...            NaN
3                45     5              1929       361  ...            NaN
4                41     5              1981       393  ...            NaN
..              ...   ...               ...       ...  ...            ...
61              181    69              5783       995  ...          213.0
62              178    66              5613       922  ...          169.0
63              184    63              5552       888  ...          159.0
64              210    69              5572       913  ...          147.0
65              184    60              5404       917  ...          135.0

    out.of.vehicle.theft  shop.theft  robbery  fraud  criminal.damage  \
0                    NaN         NaN        3    209               72
1                    NaN         NaN        3    310               73
2                    NaN         NaN        3    217               82
3                    NaN         NaN        4    209               88
4                    NaN         NaN        4    236              101
..                   ...         ...      ...    ...              ...
61                 706.0       663.0      103   1220             1774
62                 655.0       635.0       97   1356             1600
63                 543.0       509.0       87   1545             1470
64                 542.0       505.0       86   1610             1559
65                 552.0       515.0       86   1896             1989

    other.penal.crimes  narcotics  drunk.driving  population
0                  477        0.0             49     7014000
1                  530        0.0             66     7073000
2                  553        0.0             78     7125000
3                  220        0.0             91     7171000
4                  237        0.0            103     7213000
..                 ...        ...            ...         ...
61                2721      946.0            314     9449000
62                2586      994.0            286     9519000
63                2532     1002.0            279     9644000
64                2585      983.0            271     9747000
65                2539      960.0            267     9851000

[66 rows x 21 columns]>

prova condizione

In [32]:
print(df1['assault'])

0     105
1     109
2     104
3     105
4     107
     ...
61    947
62    914
63    837
64    859
65    868
Name: assault, Length: 66, dtype: int64

In [33]:
higth_assault=(df1[df1.assault>900])
higth_assault

,Year,crimes.total,crimes.penal.code,crimes.person,murder,assault,sexual.offenses,rape,stealing.general,burglary,...,vehicle.theft,out.of.vehicle.theft,shop.theft,robbery,fraud,criminal.damage,other.penal.crimes,narcotics,drunk.driving,population
58,2008,14938,12433,968,2,918,154,59,6091,1023,...,304.0,870.0,693.0,97,1066,2115,2518,848.0,337,9220000
59,2009,15101,12588,980,2,927,169,64,5947,1026,...,255.0,790.0,742.0,103,1166,2175,2513,862.0,322,9299000
60,2010,14605,12003,991,4,936,183,64,5631,985,...,227.0,733.0,684.0,98,1115,1760,2601,937.0,316,9378000
61,2011,14988,12267,1005,2,947,181,69,5783,995,...,213.0,706.0,663.0,103,1220,1774,2721,946.0,314,9449000
62,2012,14734,12148,974,2,914,178,66,5613,922,...,169.0,655.0,635.0,97,1356,1600,2586,994.0,286,9519000

doppia condizione

In [34]:
higth_assault=higth_assault[higth_assault.murder>3]
higth_assault

,Year,crimes.total,crimes.penal.code,crimes.person,murder,assault,sexual.offenses,rape,stealing.general,burglary,...,vehicle.theft,out.of.vehicle.theft,shop.theft,robbery,fraud,criminal.damage,other.penal.crimes,narcotics,drunk.driving,population
60,2010,14605,12003,991,4,936,183,64,5631,985,...,227.0,733.0,684.0,98,1115,1760,2601,937.0,316,9378000

In [77]:
mode_murd_rate=df1['murder'].mode()
print(mode_murd_rate)

0    2
dtype: int64

creazione nuova colonna

In [79]:
df1["perc_crime_totpop"]=(df1["crimes.total"]/df1["population"])*100

df1

,Year,crimes.total,crimes.penal.code,crimes.person,murder,assault,sexual.offenses,rape,stealing.general,burglary,...,shop.theft,robbery,fraud,criminal.damage,other.penal.crimes,narcotics,drunk.driving,population,perc_crime_totpop,corr_sexoff_and_rape
0,1950,2784,2306,120,1,105,40,5,1578,295,...,NaN,3,209,72,477,0.0,49,7014000,0.039692,12.500000
1,1951,3284,2754,125,1,109,45,6,1899,342,...,NaN,3,310,73,530,0.0,66,7073000,0.046430,13.333333
2,1952,3160,2608,119,1,104,39,4,1846,372,...,NaN,3,217,82,553,0.0,78,7125000,0.044351,10.256410
3,1953,2909,2689,119,1,105,45,5,1929,361,...,NaN,4,209,88,220,0.0,91,7171000,0.040566,11.111111
4,1954,3028,2791,126,1,107,41,5,1981,393,...,NaN,4,236,101,237,0.0,103,7213000,0.041980,12.195122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,2011,14988,12267,1005,2,947,181,69,5783,995,...,663.0,103,1220,1774,2721,946.0,314,9449000,0.158620,38.121547
62,2012,14734,12148,974,2,914,178,66,5613,922,...,635.0,97,1356,1600,2586,994.0,286,9519000,0.154785,37.078652
63,2013,14603,12072,896,3,837,184,63,5552,888,...,509.0,87,1545,1470,2532,1002.0,279,9644000,0.151421,34.239130
64,2014,14890,12305,923,3,859,210,69,5572,913,...,505.0,86,1610,1559,2585,983.0,271,9747000,0.152765,32.857143
65,2015,15342,12803,932,3,868,184,60,5404,917,...,515.0,86,1896,1989,2539,960.0,267,9851000,0.155741,32.608696

il crimine Ã¨ quasi quadruplicato dal 1950 al 2015, anche tenendo conto dell'aumento della popolazione

In [60]:
0.155741/0.039692

3.9237377809130303

nuova condizione

In [62]:
hight_rape_rate=df1[df1["rape"]==df1["rape"].max()]
hight_rape_rate

,Year,crimes.total,crimes.penal.code,crimes.person,murder,assault,sexual.offenses,rape,stealing.general,burglary,...,out.of.vehicle.theft,shop.theft,robbery,fraud,criminal.damage,other.penal.crimes,narcotics,drunk.driving,population,perc_crime_totpop
61,2011,14988,12267,1005,2,947,181,69,5783,995,...,706.0,663.0,103,1220,1774,2721,946.0,314,9449000,0.158620
64,2014,14890,12305,923,3,859,210,69,5572,913,...,542.0,505.0,86,1610,1559,2585,983.0,271,9747000,0.152765

In [68]:
df1['drunk.driving'].min()

49

In [75]:
df1['crimes.total'].median()

11654.0