In [1]:
import pandas as pd


women_shoes = pd.concat(map(pd.read_csv, ['Datafiniti_Womens_Shoes.csv', 'Datafiniti_Womens_Shoes_Jun19.csv', '7210_1.csv']))
women_shoes

C:\Users\bossi\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (13,16,18,22,24,32,33,40,41,47,51) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,dateAdded,dateUpdated,asins,brand,categories,primaryCategories,colors,dimension,ean,...,prices.warranty,quantities,reviews,skus,vin,websiteIDs,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51
0,AVpfEf_hLJeJML431ueH,2015-05-04T12:13:08Z,2018-01-29T04:38:43Z,NaN,Naturalizer,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",Shoes,"Silver,Cream Watercolor Floral",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AVpi74XfLJeJML43qZAc,2017-01-27T01:23:39Z,2018-01-03T05:21:54Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",Shoes,Grey,NaN,3.397705e+10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AVpi74XfLJeJML43qZAc,2017-01-27T01:23:39Z,2018-01-03T05:21:54Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",Shoes,Grey,NaN,3.397705e+10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AVpjXyCc1cnluZ0-V-Gj,2017-01-27T01:25:56Z,2018-01-04T11:52:35Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...","Shoes,Shoes",Black,6.0 in x 6.0 in x 1.0 in,3.397705e+10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AVphGKLPilAPnD_x1Nrm,2017-01-27T01:25:56Z,2018-01-18T03:55:18Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",Shoes,Grey,6.0 in x 6.0 in x 1.0 in,3.397705e+10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33796,AVsUxZClnnc1JgDc4Mev,2017-03-28T11:55:43Z,2017-03-28T11:55:43Z,NaN,Novica,"Access.,Clothing,Shoes,Women's Clothing",NaN,Blue,NaN,NaN,...,NaN,"[{""dateSeen"":[""2017-03-26T10:04:21.331Z""],""sou...",NaN,"[{""sourceURLs"":[""https://www.overstock.com/Wor...",NaN,NaN,NaN,NaN,NaN,NaN
33797,AVsUyEcaU2_QcyX9Pb4g,2017-03-28T11:58:41Z,2017-03-28T11:58:41Z,NaN,Novica,"Access.,Clothing,Shoes,Women's Clothing",NaN,Red,30 in x 31 in,NaN,...,NaN,"[{""dateSeen"":[""2017-03-26T18:48:59.335Z""],""sou...",NaN,"[{""sourceURLs"":[""https://www.overstock.com/Wor...",NaN,NaN,NaN,NaN,NaN,NaN
33798,AVsUyEcaU2_QcyX9Pb4g,2017-03-28T11:58:41Z,2017-03-28T11:58:41Z,NaN,Novica,"Access.,Clothing,Shoes,Women's Clothing",NaN,Red,30 in x 31 in,NaN,...,NaN,"[{""dateSeen"":[""2017-03-26T18:48:59.335Z""],""sou...",NaN,"[{""sourceURLs"":[""https://www.overstock.com/Wor...",NaN,NaN,NaN,NaN,NaN,NaN
33799,AVticmzVnnc1JgDc5Uym,2017-04-12T13:55:17Z,2017-04-13T20:44:29Z,B06XZJTJBT,City Classified,"Clothing,,Women,Shoes,Pumps",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33800,AVtidDQ-nnc1JgDc5U4Q,2017-04-12T13:57:14Z,2017-04-13T20:41:27Z,B0188Y3WM2,Vionic,"Women,Shoes,Sandals,Clothing,",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
women_shoes['prices.currency'].value_counts()

In [ ]:
women_shoes.describe()

In [ ]:
women_shoes['prices.amountMax'].describe()

In [ ]:
women_shoes['prices.amountMin'].describe()

In [ ]:
women_shoes['prices.amountMin'] = pd.to_numeric(women_shoes['prices.amountMin'],errors='coerce')
women_shoes.groupby(["brand"]).mean()

In [ ]:
women_shoes['brand'].value_counts()

In [ ]:
women_shoes.reset_index(drop=True)

In [ ]:
women_shoes = women_shoes[women_shoes['brand'].value_counts().head(n=50)]

In [ ]:
women_shoes["categories"].unique

In [ ]:
# Quali sono le possibili categorie 
rows = women_shoes["categories"].unique()
#print(rows)
s = set()
for row in rows:
    #print("-- " + row)
    categories = row.split(",")
    for category in categories:
        ##print("---- " + category)
        s.add(category)

print(s)

In [ ]:
women_shoes['brand'].unique()

In [ ]:
women_shoes['primeCategory'].unique()

In [2]:

import json
import math
import sys


def extract_material(features_json):
    # [{"key":"Material","value":["Suede"]},{"key":"Gender","value":["Men"]},{"key":"Color","value":["Beige"]},{"key":"Model","value":["M254TNN"]},{"key":"Manufacturer Part Number","value":["M254TNN"]},{"key":"Brand","value":["New Balance Numeric"]},{"key":"Age Group","value":["Adult"]}]    
    try:
        if (type(features_json) == float):
            return None
        
        if (type(features_json) != str):
            print( f"WARN not a string but a {type(features_json)} {features_json}" )
            return None
        
        features_json = features_json.replace("\\\\", "\\")
        kvs = json.loads(features_json)
        for kv in kvs:
            if(kv["key"] == "Material"):
                return kv["value"][0]
        return None
    except:
        err_type, err_value, err_traceback = sys.exc_info()
        print( f"WARN '{err_type}' '{err_value}' parsing {features_json}" )
        return None

In [3]:
def extract_age_group(features_json):
    try:
        if (type(features_json) == float):
            return None
        
        if (type(features_json) != str):
            print( f"WARN not a string but a {type(features_json)} {features_json}" )
            return None
        
        features_json = features_json.replace("\\\\", "\\")
        kvs = json.loads(features_json)
        for kv in kvs:
            if(kv["key"] == "Age Group"):
                return kv["value"][0]
        return None
    except:
        err_type, err_value, err_traceback = sys.exc_info()
        print( f"WARN '{err_type}' '{err_value}' parsing {features_json}" )
        return None

In [ ]:
def extract_reviews_rating(revdefiews_json):
    try:
        if (type(reviews_json) == float):
            return None
        
        if (type(reviews_json) != str):
            print( f"WARN not a string but a {type(reviews_json)} {reviews_json}" )
            return None
        
        reviews_json = reviews_json.replace("\\\\", "\\")
        kvs = json.loads(reviews_json)
        for kv in kvs:
            if(kv["key"] == "rating"):
                return kv["value"][0]
        return None
    except:
        err_type, err_value, err_traceback = sys.exc_info()
        print( f"WARN '{err_type}' '{err_value}' parsing {reviews_json}" )
        return None

In [4]:
reduced_women_shoes = pd.DataFrame()
reduced_women_shoes['brand'] = women_shoes['brand']
reduced_women_shoes['material'] = women_shoes['features'].apply(extract_material)
reduced_women_shoes['group_aged']= women_shoes['features'].apply(extract_age_group)
#redueced_women_shoes['rating_review'] = women_shoes['reviews'].apply( extract_reviews_rating)
reduced_women_shoes["prices.amountMin"] = pd.to_numeric(women_shoes["prices.amountMin"], errors='coerce')
reduced_women_shoes["prices.amountMax"] = pd.to_numeric(women_shoes["prices.amountMax"], errors='coerce')
reduced_women_shoes = reduced_women_shoes.dropna()
reduced_women_shoes

,brand,material,group_aged,prices.amountMin,prices.amountMax
7,Pedi Couture,Foam,Adult,30.00,30.00
8,ANNE KLEIN SPORT,Leather,Adult,100.00,100.00
9,ANNE KLEIN SPORT,Leather,Adult,25.99,25.99
13,Marc Fisher,Leather,Adult,89.00,89.00
14,Marc Fisher,Leather,Adult,55.99,55.99
...,...,...,...,...,...
24589,Sperry,Leather,Women,56.90,56.90
24590,Sperry,Leather,Women,56.90,56.90
24591,Sperry,Leather,Women,56.43,56.43
24691,Converse,Leather,Women,69.90,69.90
24692,Converse,Leather,Women,65.00,65.00

In [ ]:
#df.sort_values(by=['Categoria'], ascending = False, inplace = True)
s = reduced_women_shoes['brand'].value_counts()
reduced_women_shoes.sort_values(by=['brand'], ascending = False, inplace = True)
reduced_women_shoes

In [ ]:
p=(df[['reviews', 'categories', 'brand']].groupby('categories').count()).sort_values(by=['reviews'], ascending=False)

p[p['reviews']>10]

In [12]:
s = (reduced_women_shoes[['material', 'brand' ]].groupby('material').count()).sort_values(by=['material'], ascending=False)
s

                   brand
material
suede                  3
elastic                2
Wool                   9
Wood                   2
Vinyl                 11
...                  ...
100% Polyester         2
100% PU Leather        6
100% PU               12
100% Faux Suede        2
100% Faux Leather      4

[102 rows x 1 columns]